.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    padding: 7px;
   
}
.sidebar :hover {
    background-color: rgb(97, 1, 97)
}
.tagButton {
    background-color: purple;
    margin-bottom: 10px;
    margin-right: 7px;
}